android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored

*.h linguist-detectable=false
*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
